/* ページ全体の背景 */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  /* 全体のスタイリング */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ヘッダースタイリング */
header {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* メインセクションスタイリング */
main {
    padding: 120px 20px 20px 20px;
}

section {
    margin: 20px 0;
}

/* リンクスタイリング */
a {
    text-decoration: none;
    color: #0073e6;
}

/* フッタースタイリング */
footer {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
