/* ページ全体の背景 */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

/* ヘッダースタイリング */
header {
    background-color: #48d1cc;
    color: #fff;
    /* text-align: center; */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* メインセクションスタイリング */
main {
    padding: 150px 20px 20px 20px;
}

/* section {
    margin: 20px 0;
} */

/* リンクスタイリング */
a {
    text-decoration: none;
    color: #0073e6;
}

/* フッタースタイリング */
footer {
    background-color: #48d1cc;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

table {
    table-layout: fixed;
    word-break: break-all;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

button {
    margin: 4px;
}

p {
    text-align: left;
}

div {
    margin-bottom: 20px;
}

/* .form {
    text-align: center;
} */

.queryInfo {
    padding-bottom: 30px;
}

.queryHistoryTitle {
    padding-bottom: 30px;
}

.post {
    text-align: left;
    padding-bottom: 20px;
}

.reply {
    text-align: right;
    padding-bottom: 20px;
}
